<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet"
          href="register.css">
    <script defer
            src="register.js"></script>
  </head>

  <body>
    <main id="main">
      <h1 id="header">Register</h1>

      <form id="register-form">
        <input type="text"
               name="email"
               id="email-field"
               class="register-form-field"
               placeholder="E-mail">
        <input type="text"
               name="username"
               id="username-field"
               class="register-form-field"
               placeholder="Username">
        <input type="password"
               name="password"
               id="password-field"
               class="register-form-field"
               placeholder="Password">
        <input type="pass-confirm"
               name="pass-confirm"
               id="password-confirm"
               class="register-form-field"
               placeholder="Confirm password">
        <input type="submit"
               value="Register"
               id="register-submit">
      </form>
    </main>
  </body>
</html>