html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #57150B;
  color: #3a3a3a;
}

#main {
  font-family: DejaVu Sans Mono, monospace;
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#register-form {
  align-self: flex-start;
  display: grid;
}

.register-form-field::placeholder {
  font-family: DejaVu Sans Mono, monospace;
  color: #3a3a3a;
}

.register-form-field {
  font-family: DejaVu Sans Mono, monospace;
  background-color: #f2f2f2;
  border: none;
  border-bottom: thin solid #3a3a3a;
  margin-bottom: 10px;
  padding: 0px 0px 5px 5px;
}

#register-submit {
  font-family: DejaVu Sans Mono, monospace;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: #FFCC00;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}