<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
        <form id="login-form" method="post">
        <input type="text"
               name="_id"
               id="username-field"
               class="login-form-field"
               placeholder="Username">
        <input type="password"
               name="password"
               id="password-field"
               class="login-form-field"
               placeholder="Password">
        <input type="submit"
               value="Log In"
               class="button">
            <br>
        <a href="/register" class="button">Register</a>
        </form>
    </main>
</body>
</html>