<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    <div class="nav">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/classlist">Classes</a>
        <a href="/submit">Submit Review</a>
    </div>
    <% if(data.length){
        for(var i = 0; i < data.length; i++){ %>
        <p><%= data[i].professor %></p>
        <% }
        }else{ %>
        <p>No Reviews found</p>
        <% } %>
</body>
</html>