<html lang="en">
       <head>
              <meta charset="UTF-8">
              <meta http-equiv="X-UA-Compatible"
                    content="IE=edge">
              <meta name="viewport"
                    content="width=device-width, initial-scale=1.0">
              <title>Submit</title>
              <link rel="stylesheet"
                    href="submit.css">
       </head>
       <body>
              <div class="nav">
                     <a href="/login">Login</a>
                     <a href="/register">Register</a>
                     <a href="/classlist">Classes</a>
                     <a href="/submit">Submit Review</a>
              </div>
              <main id="main">
                     <h1 id="header">
                            Submit a Review</h1>

                     <form id="submit-form">
                            <label for="professor" 
                                   class ="submit-prompts">
                                   Professor</label>
                            <input type="text"
                                   name="professor"
                                   id="professor-field"
                                   class="submit-form-field">

                            <label for="course-field"
                                   class="submit-prompts">
                                   Course name</label>
                            <input type="text"
                                   name="course"
                                   id="course-field"
                                   class="submit-form-field">

                            <label for="difficulty" 
                                   class="submit-prompts">
                                   How difficult was this course?</label>

                            <input type="range" id="difficulty" name="difficulty" min="1" max="5">

                            <label class="submit-prompts">
                                   Would you take this course again?</label>

                            <input type="radio"
                                   name="take-again"
                                   value="yes"
                                   id="would-take-again">
                            <label for="would-take-again"
                                   class="radio-labels">Yes</label>

                            <input type="radio"
                                   name="take-again"
                                   value="no"
                                   id="would-not-take-again">
                            <label for="would-not-take-again"
                                   class="radio-labels">No</label>
                            <br><br><br>
                            <input type="submit"
                                   value="Submit Review"
                                   id="submit-button">
                     </form>
              </main>
       </body>
</html>