<html lang="en">
       <head>
              <meta charset="UTF-8">
              <meta http-equiv="X-UA-Compatible"
                    content="IE=edge">
              <meta name="viewport"
                    content="width=device-width, initial-scale=1.0">
              <title>Submit</title>
              <link rel="stylesheet"
                    href="submit.css">
       </head>
       <body>
              <main id="main">
                     <h1 id="header">
                            Submit a Review</h1>

                     <form id="submit-form">
                            <label for="professor" 
                                   class ="submit-prompts">
                                   Professor</label>
                            <input type="text"
                                   name="professor"
                                   id="professor-field"
                                   class="submit-form-field">

                            <label for="course-field"
                                   class="submit-prompts">
                                   Course name</label>
                            <input type="text"
                                   name="course"
                                   id="course-field"
                                   class="submit-form-field">

                            <label class="submit-prompts">
                                   How difficult was this course?</label>

                            <input type="radio"
                                   name="difficulty"
                                   value="1"
                                   id="difficulty-1">
                            <label for="difficulty-1"
                                   class="radio-labels">1 - Very easy</label>

                            <input type="radio"
                                   name="difficulty"
                                   value="2"
                                   id="difficulty-2">
                            <label for="difficulty-2"
                                   class="radio-labels">2 - Easy</label>

                            <input type="radio"
                                   name="difficulty"
                                   value="3"
                                   id="difficulty-3">
                            <label for="difficulty-3"
                                   class="radio-labels">3 - Somewhat difficult</label>

                            <input type="radio"
                                   name="difficulty"
                                   value="4"
                                   id="difficulty-4">
                            <label for="difficulty-4"
                                   class="radio-labels">4 - Moderately difficult</label>

                            <input type="radio"
                                   name="difficulty"
                                   value="5"
                                   id="difficulty-5">
                            <label for="difficulty-5"
                                   class="radio-labels">5 - Very difficult</label>

                            <label class="submit-prompts">
                                   Would you take this course again?</label>

                            <input type="radio"
                                   name="take-again"
                                   value="yes"
                                   id="would-take-again">
                            <label for="would-take-again"
                                   class="radio-labels">Yes</label>

                            <input type="radio"
                                   name="take-again"
                                   value="no"
                                   id="would-not-take-again">
                            <label for="would-not-take-again"
                                   class="radio-labels">No</label>
                            <br>
                            <input type="submit"
                                   value="Submit Review"
                                   id="submit-button">
                     </form>
              </main>
       </body>
</html>