<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"
          href="login.css">
    <script defer
            src="login.js"></script>
  </head>

  <body>
    <main id="main">
      <h1 id="header">Log In</h1>

      <form id="login-form">
        <input type="text"
               name="username"
               id="username-field"
               class="login-form-field"
               placeholder="Please type 'rowan'">
        <input type="password"
               name="password"
               id="password-field"
               class="login-form-field"
               placeholder="Type 'rowan' again">
        <input type="submit"
               value="Log In"
               id="login-submit">
      </form>
    </main>
  </body>
</html>
© 2022 GitHub, Inc.